/***

https://www.youtube.com/watch?v=kbLfWKGVsMQ

*/


/* stopping to code along at 48:00 
1:03 is where he starts working on the desktop version */;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  /*min-height: 100vh; I think i might want this for non-homepage pages*/
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*****************************************/
/**************** MY CODE ****************/
/*****************************************/


* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: catamaran;
  color: #111;
}

@font-face {
    font-family: 'Seaside Resort';
    src: url('./fonts/SEASRN__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.debug {
  /*outline-style: solid;*/
}

/************************/
/******** HEADER ********/
/************************/

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end; /* Push children to the bottom of the element*/
  /*outline-style: solid;*/
}

header .left {
  margin: 0px 0px 10px 40px; /* Indent from left and bottom */
  flex: 5;
  /*outline-style: solid;*/
}

header .right {
  margin: 0px 15px 7px 0px; /* Indent from right and bottom */
  flex: 1;
  text-align: right;
  /*outline-style: solid;*/
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px 0px 0px; /*Horizontal spacing between navbar elements*/
  /*outline-style: solid;*/
}

header nav ul li a {
  font-family: catamaran;
  font-size: 20px;
  color: #111;
  /*outline-style: solid;*/
}

header div a img {
  display: inline-block;
  /*outline-style: dotted;*/
  height: 42px;
  width: 42px;
  margin: 0px 0px 0px 0px;
}

/***************************/
/******** MAIN BODY ********/
/***************************/

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

/******************************/
/******** IMAGE SLIDER ********/
/******************************/

body {  
    margin: 0;  
}   

.slick-slider-container {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 120px);
}

.slick-slider-container img {
  width: 100vw;
  height: calc(100vh - 120px); /*couldn't set w&h as relative to parent bc it is internally relative display*/
  object-fit: cover;
  overflow: hidden;
}

.arrow-prev, .arrow-next {
  font-size: 45px;
  color: lightgrey;
  position: absolute;
  top: 50%;
  opacity: .7;
  /*outline-style: solid;*/
}

.arrow-prev {
  padding-right: 10px;
  left: 0;
}

.arrow-next {
  padding-left: 10px;
  right: 0;
}

.arrow-prev:hover, .arrow-next:hover {
  opacity: .90;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  color: #eb5e17;
  font-family: 'Seaside Resort';
  font-size: 30px;
  text-align: center;
  transform: translate(-50%, -50%);
  /*outline-style: solid;*/
}

.listen {
  width: 100px;
  height: 35px;
  position: absolute;
  top: calc(50% + 90px) ;
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
  border: none;
  font-weight: bold;
  font-size: 13px;
} 

.listen:hover {
  cursor: pointer;
  opacity: 0.9;
}

.listen:active {
  cursor: pointer;
  opacity: 0.95;
}

/****************************/
/******** INTERVIEWS ********/
/****************************/

.header-extension {
  width: 100%;
  height: 80px;
  text-align: center;
}

.header-extension h1 {
  margin: 10px;
  /*font-family: "Seaside Resort";*/
  /*color: tomato;*/
  color: 111;
  font-family: "catamaran";
  text-transform: uppercase;
  font-size: 45px;
}

.main-interview {
  /*height: auto;
  width: 100%;*/
  text-align: center;
  /*background-image: linear-gradient(to bottom right, #c87636, #d66d66);*/
  background-image: linear-gradient(to bottom right, #eee, #ddd);
  /*background-color: lightgrey;*/
  /*background-image: url("./images/sunsetbackground.png");
  background-size:100% 100%;*/
  /*background-repeat: round;*/
  /*-webkit-filter: blur(5px);  
  filter: blur(5px);*/
}

.main-panel {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  /*background-color: #ffdd99;*/
  background-color: transparent;
  /*background-image: url("./images/sunset1.jpg"); */
}

.center-panel {
  width: 90%;
  text-align: center;
  /*padding: 20px 10px;*/
  padding: 3%;
  background-color: transparent;
}

.center-panel h1 {
  font-family: catamaran;
  font-size: 25px;
  background-color: transparent;
  /*color: #111;*/
  margin: 0px 10px 0px 10px;
}

.center-panel p {
  text-align: left;
  background-color: transparent;
  /*margin: 20px 0px 40px 0px;*/
}

.mixcloud {
  display: inline-block;
  width: 350px;
  height: 350px;
  padding: 10px;
}

.mixcloud iframe {
  height: 100%;
  width: 100%;
} 


/*****/

/******** MEDIA QUERIES ********/

@media screen and (max-height: 420px) {
  
  header {
    height: 40px;
  }

  header .left {
    margin: 0px 0px 0px 40px; /* Indent from left and bottom */
  }

  header .right {
    margin: 0px 15px -2px 0px; /* Indent from right and bottom */
  }

  .slick-slider-container {
    height: max(320px, calc(100vh - 60px));
  }

  .slick-slider-container img {
    height: max(320px, calc(100vh - 60px)); /*couldn't set w&h as relative to parent bc it is internally relative display*/
  }

  .logo {
    position: absolute;
    top: max(50%, 150px);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .listen {
    top: max(calc(50% + 90px), 250px) ;
  }
}

@media screen and (max-width: 400px) {
  .mixcloud {
    width: 300px;
    height: 250px;
  }

  .header-extension {
      display: none;
  }
}



/*The smallest screen size in active use is currently the iPhone 5, which comes in at 320 pixels wide. 
From there, most subsequent iPhone models toggle between 375 and 414 pixels wide, 
with increasing viewport sizes as you move into the Galaxy phones and tablets.*/


