/***

https://www.youtube.com/watch?v=kbLfWKGVsMQ

*/


/* stopping to code along at 48:00 
1:03 is where he starts working on the desktop version */;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/**************************************/
/**************** KMKB ****************/
/**************************************/

*:focus {
    outline:none;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: catamaran;
  color: #111;
}

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'Seaside Resort';
    src: url('./fonts/SEASRN__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.debug {
  /*outline-style: solid;*/
}

h2 {
  color: 111;
  font-family: "catamaran";
  font-size: 30px;
  line-height: 70px;
}

/************************/
/******** HEADER ********/
/************************/

header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end; /* Push children to the bottom of the element*/
  background-color: white;
  opacity: 0.9;
  z-index: 10000;
}

header .left {
  margin: 0px 0px 10px 40px; /* Indent from left and bottom */
  flex: 5;
}

header .right {
  margin: 0px 15px 7px 0px; /* Indent from right and bottom */
  flex: 1;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px 0px 0px; /*Horizontal spacing between navbar elements*/
}

header nav ul li:hover {
  font-weight: bold;
}

header nav ul li a {
  font-family: catamaran;
  font-size: 20px;
  color: #111;
}

header div a img {
  display: inline-block;
  height: 42px;
  width: 42px;
  margin: 0px 0px 0px 0px;
}

header div a img:hover {
  display: inline-block;
  height: 44px;
  width: 44px;
  margin: 0px 0px 0px 0px;
}

/********************************/
/******** SLIDER SECTION ********/
/********************************/

.kmkb-section {
  width: 100vw;
  height: 100vh;
}

.slider-container {
  width: 100%;
  height: calc(100vh - 140px);
  position: relative;
  top: 70px;
  /*background-color: pink;*/
}

.slick-slider-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100vh - 140px);
}

.slick-slider-container img {
  width: 100vw;
  height: calc(100vh - 140px); /*couldn't set w&h as relative to parent bc it is internally relative display*/
  object-fit: cover;
  overflow: hidden;
}

.logo {
  width: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  color: #eb5e17;
  font-family: 'Seaside Resort';
  font-size: 35px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.listen {
  width: 100px;
  height: 35px;
  position: absolute;
  top: calc(50% + 110px) ;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
  border: none;
  font-weight: bold;
  font-size: 13px;
} 

.listen:hover {
  cursor: pointer;
  opacity: 0.95;
}

.listen:active {
  cursor: pointer;
  opacity: 0.95;
}

.arrow-prev, .arrow-next {
  font-size: 45px;
  color: lightgrey;
  position: absolute;
  top: 50%;
  opacity: .7;
}

.arrow-prev {
  padding-right: 10px;
  left: 0;
}

.arrow-next {
  padding-left: 10px;
  right: 0;
}

.arrow-prev:hover, .arrow-next:hover {
  opacity: .95;
  cursor: pointer;
}


/***********************************/
/******** INTERVIEW SECTION ********/
/***********************************/

#interviews {
  scroll-margin-top: 71px;
}

.interview-section {
  width: 100vw;
  text-align: center;
}

.interview-section .inner-container {
  width: calc(100vw - 200px);
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 20px 30px 70px 30px;
  display: inline-block;
  border: 2px solid #111;
}

.interview-section .inner-container h2 {
  margin: 20px 0px;
}

.mixcloud {
  display: inline-block;
  width: 250px;
  height: 250px;
  padding: 10px;
}

.mixcloud:hover {
  opacity: 0.7;
}

.mixcloud iframe {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 31, 44); /* Because the embeds change size once played */
} 

/*******************************/
/******** ABOUT SECTION ********/
/*******************************/

.about-section {
  width: 100vw;
  height: 100vh;
}

.about-container {
  width: 100%;
  height: calc(100vh - 140px);
  position: relative;
  top: 70px;
}

.about-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.about-overlay {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(50, 50, 50, 0.7);
  border-radius: 15px;
  padding: 20px;
  text-align: center; 
}

.about-overlay h2 {
  color: white;
  font-size: 30px;
  font-weight: normal;
}

.about-overlay p {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

/*******************************/
/***** GO FUND ME SECTION *****/
/*******************************/

.gofundme-section {
  width: 100vw;
  height: 100vh;
}

/*******************************/
/******** MEDIA QUERIES ********/
/*******************************/


/* Phone Portrait */
@media screen and (max-width: 450px) {
  .logo {
    width: 300px;
    font-size: 30px;
  }

  header nav ul li a {
    font-family: catamaran;
    font-size: 15px;
    color: #111;
  }

  .interview-section .inner-container h2 {
    display: none;
  }

  .interview-section .inner-container {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border: none;
  }

  .about-overlay h2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
  }
  .about-overlay p {
    font-size: 17px;
    font-weight: normal;
  }
}

/*Phone landscape*/
@media screen and (max-height: 420px) {
  
  header {
    height: 40px;
  }

  header .left {
    margin: 0px 0px 0px 40px; /* Indent from left and bottom */
  }

  header .right {
    margin: 0px 15px -2px 0px; /* Indent from right and bottom */
  }

  .slider-container {
    height: calc(100vh - 60px);
    top: 40px;
  }

  .slick-slider-container {
    height: calc(100vh - 60px);
  }

  .slick-slider-container img {
    height: max(320px, calc(100vh - 60px)); /*couldn't set w&h as relative to parent bc it is internally relative display*/
  }

  .logo {
    top: max(50%, 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .listen {
    top: max(calc(50% + 90px), 250px);
  }

  #interviews {
    scroll-margin-top: 0px;
  }

  .interview-section .inner-container h2 {
    display: none;
  }

  .interview-section .inner-container {
    width: 100%;
    padding: 50px 0px 10px 0px;
    border: none;
  }

  .mixcloud {
    width: 200px;
    height: 200px;
  }

  #about {
    scroll-margin-top: 0px;
  }

  .about-container {
    height: max(320px, calc(100vh - 60px));
    top: 40px;
  }

  .about-overlay {
    width: 80%;
  }

  .about-overlay h2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
  }

  .about-overlay p {
    font-size: 17px;
    font-weight: normal;
  }
}